<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FINKI Tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c8e0ac3c9e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid bg-light mb-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">ФИНКИ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Почетна</a>
                    <a class="nav-item nav-link" href="/account/">Профил</a>
                    <a th:each="c : ${availableCategories}" th:text="${c.name}" th:href="@{'/c/' + ${c.id}}" class="nav-item nav-link"></a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <h3>Информации за билет</h3><hr/>
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info w-100">
                <h5 th:text="${ticket.event.name}"></h5>
                <p><i class="far fa-calendar-alt"></i> <span th:text="${ticket.event.date}"></span></p>
                <p>
                    <label><i class="far fa-clock"></i> <span th:text="${ticket.time}"></span></label><br/>
                    <label th:if="${ticket.price} == 0"><span class="badge badge-success">БЕСПЛАТНО</span></label>
                    <label th:unless="${ticket.price} == 0"><i class="far fa-money-bill-alt"></i> <span th:text="${ticket.price + ' ден'}"></span></label><br/>
                    <label><i class="fas fa-sort-amount-up-alt"></i> Количина: <span class="font-weight-bold" th:text="${ticket.quantity}"></span></label>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <p>Вие купувате: <span th:text="${q}"></span> билети!</p>
            <h5>Вкупно: <span th:text="${ticket.price*q}"></span> денари</h5>
            <input type='hidden' th:value="${amount}" name='amount' />
            <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
            <form action='/charge' method='POST' id='checkout-form'>
                <script
                        src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey},
                                 data-amount=${amount},
                                 data-currency=${currency},
                                 data-description=${ticket.event.name},
                                 data-email=${email}'
                        data-name='Buy a ticket'
                        data-image='http://www.baeldung.com/wp-content/themes/baeldung/favicon/android-chrome-192x192.png'
                        data-locale='auto'
                        data-zip-code='false'>
                </script>
            </form>
            <br/><a href="/">Откажи</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>